//VARIABLES
$white: #fff;
$background-white: #FFEEE0;
$md-gray: #666;
$dk-gray: #333;
$lt-gray: #999;
$pink: #ffcccc;
$dk-pink: #FF949E;
$blue: #77d9d3;
$dk-blue: #70CCC6;
// $lt-yellow: #FFF565;
$lt-yellow: #FFF777;
$dk-yellow: #FFF019;
$salmon: #FD885C;
$lt-bellini: #FFCC99;
$dk-bellini: #FFB347;

